body {
  text-align: center;
  background-image: url("./lushgrass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
h1, h2 {
  text-align: center;
  font-family: 'Bangers', cursive;

}
h1 {
  font-size: 110px;
  background-color: yellow;
  margin: 30px 430px 30px 450px;
  color: black;
}
h2 {
  font-size: 33px;
  background-color: darkolivegreen;
  margin: 30px 250px 30px 250px;
  color: yellow;
}