body {
  background-image: url("./walk.jpg");
  color: yellow;
  font-family: 'Bangers', cursive;
  background-color: darkgreen;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
h1 {
  display: fixed;
  font-family: 'Bangers', cursive;
  color:yellow;
  font-size: 125px;
  text-align: center;
}
canvas { 
  background-color: chartreuse;
  background-image: url("./HealthyGrass.jpg");
  height: 50vh;
  width: 100%;
}
#gameScreen {
  max-width: 50em;
  background-color: cornflowerblue;
  margin: auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-rows: .25fr .5fr .25fr;
  grid-template-areas: "playArea playArea playArea"
                       "playArea playArea playArea"
                       "playArea playArea playArea"
}
#playArea {
  grid-area: playArea;
}
#score {
  position: fixed;
  left: 50px;
}
#urgent2 {
  position: fixed;
  right: 50px;
}
#urine {
  position: fixed;
  right: 50px;
}
#urgent1 {
  position: fixed;
  left: 50px;
}
#button {
  position: fixed;
  margin-left: 42.5vw;
}