body {
  text-align: center;
  background-image: url("./walk.jpg");
  background-color: darkgreen;
  background-size: cover;
  background-repeat: no-repeat;
}
h1, h2 {
  font-family: 'Bangers', cursive;
  color:yellow;
}
h1 {
  font-size: 75px;
}